
.header-nav {
    width: 100%;
    height: 70px;
    background-color: #242424;
}
a{
    text-decoration-line: none;
}
.header-nav li{
    text-align: center;
}
.nav-outer {
    width: 1100px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
}

li{
    list-style-type: none;
    width: 100px;
}




.user-list li {
    float: left;
}

.user-list li>a {
    display: inline-block;
    padding: 0 19px;
    color: #ccc;
    font: 14px Arial, Helvetica, sans-serif;
}




.hot {
    margin-top: 22px;
    margin-left: -12px;
    width: 28px;
    height: 19px;

    background-position: -190px 0;
}

/* 右侧搜索框区域 */
.right-list {
    margin: 0 0 0 0;
    float: right;
}

.right-list li {
    float: left;
}

.search-wrap {
    width: 158px;
    height: 32px;
    line-height: 32px;

    background-position: 0 -99px;
    background-color: #fff;
    border-radius: 32px;
    margin-top: 19px;
}

input {
    position: relative;
    width: 128px;
    height: 16px;
    outline: none;
    margin-left: 27px;
    top: -2px;
    border: none;
}




.login {
    position: relative;
    top: -20px;
    width: 50px;
    height: 70px;
    margin: 19px 0 0 20px;
    padding: 0 22px 0 0;
}

.login>a {
    color: #787878;
    font: 15px Arial, Helvetica, sans-serif;
    margin-top:10px;
}

.login:hover a {
    text-decoration: underline;
    color: #999999;
}

/* 红色导航栏区域 */
.red-nav {
    width: 100%;
    height: 35px;
    background-color: #c20c0c;
}

.inner {
    width: 920px;
    height: 34px;
    margin: 0 auto;
    padding-left: 180px;
}

.inner li {
    float: left;
    height: 34px;
}

.inner li>a {
    display: block;
    height: 16px;
    line-height: 17px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 5px 17px 0;
    padding: 3px 13px 3px 13px;
}

.inner li:first-of-type a {
    background-color: #9b0909;
    border-radius: 20px;
}

.inner li:hover a {
    background-color: #9b0909;
    border-radius: 20px;
}

.top-icon {
    width: 8px;
    height: 8px;
    position: relative;
    left: 54px;
    top: -23px;
}

/* 轮播图区域样式 */
.outer {
    position: relative;
    width: 100%;
    height: 285px;
}

.swiper-inner {
    position: relative;
    width: 984px;
    height: 285px;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 285px;
    overflow: hidden;
}

.swiper-wrapper>div>img {
    width: 730px;
    height: 285px;
}

.download-app {
    position: absolute;
    top: 0;
    left: 730px;
    width: 254px;
    height: 285px;

    z-index: 20;
}

.download-app p {
    margin-top: 255px;
    color: #8d8d8d;
    text-align: center;
    font: 12px Arial, Helvetica, sans-serif;
}
select.store{
    width: 150px;
    height: 60px;
    text-align: center;
    margin-left: 650px;
    margin-top: 20px;
    border-radius: 10px;

}
.button-1 .button-2{
    margin-left: 150px;
    margin-right: 0;
    height: 40px;
}
.button-1 .button-3{
    margin: 0;
    height: 40px;
}
select.driver{
    width: 90px;
    height: 40px;
    margin-top: 20px;
}
button.backspace{
    float: right;
    margin-top: 20px;
    width: 90px;
    height: 35px;
    margin-right:250px;
}
button.editor{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    width: 90px;
    height: 35px;

}
tr{
    border-left: none;
    border-right: none;
    display: table-row;
}
td{
    width: 128px;
    height: 50px;
}
.clander{
    margin-left: 150px;
}
.edide{
    margin-left: 150px;
}
.backspace{
    left: 500px;
}
.content{
    display: block;
    background-color: #b5b5bb;
}
 .header-nav  .nav-outer .user-list .active{
    background-color: black;
}
span{
    color: white;
    background-color: #fff;
}
